<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ceids.ulima.edu.pe.pokequest"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="22" />
    <application
        tools:replace="android:icon,android:theme"
        android:allowBackup="true"
        android:icon="@drawable/pokeball"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCm1OcgOo5hqJ7K6F-uAC709FW4O1PKaEk" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".ui.mapa.MapaActivity" />
        <activity android:name=".ui.reto.RetoActivity" />
        <activity
            android:name=".Splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.LoginActiviry"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Menu.MenuActivity" />
        <activity android:name=".Codigo.CodigoActiviry"></activity>
    </application>

</manifest>